[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lab5
Exec=/usr/bin/ru.auroraos.lab5
Name=lab5
Name[ru]=лаб5

[X-Application]
Permissions=Internet
OrganizationName=ru.auroraos
ApplicationName=lab5
ExecDBus=/usr/bin/ru.auroraos.lab5
